$primary: #B3B5B3;
.hrc{
  background-color: #3292a6;

}

#socialinfo{
  box-shadow: 2px 2px 5px $primary;
  .fa{
    font-size: 20px;
  }
  .fa:hover{
    color: #3292a6;
  }
}
#mainheader{

  .fa{
    font-size: 25px;
  }
  .fa:hover{
    color:#3292a6 ;

  }
  .nav-item:hover{
    box-shadow:2px 2px 5px #3292a6;
  }
}
.carousel-item{
  height: 450px;
}
.carousel-img-1{
  background: url('../img/image1.jpg');
  background-size: cover;
}
.carousel-img-2{
  background: url('../img/image2.jpg');
  background-size: cover;
}
.carousel-img-3{
  background: url('../img/image3.jpg');
  background-size: cover;
}
#testimonial{
  .slick-prev::before{
    color: #000;

  }
  .slick-next::before{
    color: #000;

  }

}
#project{
  .slick-prev::before{
    color: #000;

  }
  .slick-next::before{
    color: #000;

  }


}

.slick-slide{
  margin: 0px 10px;
}
.slick-slide img{
  width: 100%;
}
.computer{
  position: relative;
 text-align: center;
 color:blue;
}
.top-left {
  position: absolute;
  top: 10px;
  left: -80px;
}
.bottom-left {
  position: absolute;
  bottom: 60px;
  left: 20px;
}
.bottom-right {
  position: absolute;
  bottom: 60px;
  right: 16px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section{
  h5:hover{
    color:#3292a6;
  }
}
#sms{
  background:#f9f9f9;
}

/* progressbar start here */

@import url(https://fonts.googleapis.com/css?family=PT+Sans);

$font-family: 'PT Sans', sans-serif;

$li-padding: 5px;

// colors
$background-color: #fff;
$progressbar-title-color: #fff;

$red: #c0392b;
$blue: #1199ff;
$purple: #9b59b6;
$orange: #ffa500;
$green: #27ae60;

$animation-delay: .7s;

@mixin border-radius($radius){
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,body{
  background: #fff;
  width: 100%;
  height: 100%;
  font-family: $font-family;
}

.skills-bar-container{
  position: relative;
  width: 100%;
  min-width: 300px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  list-style:none;

  li{
    position: relative;
    width: 100%;
    padding: $li-padding;
    margin-bottom: 10px;

    .progressbar-title{
      color: $progressbar-title-color;

      h3{
        display: inline-block;
      }
      .percent{
        position: absolute;
        right: $li-padding;
      }
    }// end progressbar-title

    .bar-container{
      background: #555;
      position: relative;
      width: 100%;
      height: 5px;
      margin-top: 5px;
      display: block;
      @include border-radius(5px);

      .progressbar{
        position:absolute;
        width:0%;
        height: 100%;
        @include border-radius(5px);

        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      }
      #progress-html{
        -webkit-animation-name: progress-html;
        animation-name: progress-html;
        -webkit-animation-delay: $animation-delay;
        animation-delay: $animation-delay;
      }

      #progress-css{
        -webkit-animation-name: progress-css;
        animation-name: progress-css;
        -webkit-animation-delay: $animation-delay*2;
        animation-delay: $animation-delay*2;
      }

      #progress-javascript{
        -webkit-animation-name: progress-javascript;
        animation-name: progress-javascript;
        -webkit-animation-delay:$animation-delay*3;
        animation-delay: $animation-delay*3;
      }

      #progress-php{
        -webkit-animation-name: progress-php;
        animation-name: progress-php;
        -webkit-animation-delay: $animation-delay*4;
        animation-delay: $animation-delay*4;
      }

      #progress-angular{
        -webkit-animation-name: progress-angular;
        animation-name: progress-angular;
        -webkit-animation-delay: $animation-delay*5;
        animation-delay: $animation-delay*5;
      }
    }// end bar-container
  }
}

.progressred{background-color:$red;}
.progressblue{background-color:$blue;}
.progresspurple{background-color:$purple;}
.progressorange{background-color:$orange;}
.progressgreen{background-color:$green;}

@-webkit-keyframes progress-html{0%{width: 0%;} 100%{ width: 100%;}}
@-webkit-keyframes progress-css{0%{width: 0%;} 100%{ width: 90%;}}
@-webkit-keyframes progress-javascript{0%{width: 0%;} 100%{ width: 70%;}}
@-webkit-keyframes progress-php{0%{width: 0%;} 100%{ width: 55%;}}
@-webkit-keyframes progress-angular{0%{width: 0%;} 100%{ width: 65%;}}

@-moz-keyframes progress-html{0%{width: 0%;} 100%{ width: 100%;}}
@-moz-keyframes progress-css{0%{width: 0%;} 100%{ width: 90%;}}
@-moz-keyframes progress-javascript{0%{width: 0%;} 100%{ width: 70%;}}
@-moz-keyframes progress-php{0%{width: 0%;} 100%{ width: 55%;}}
@-moz-keyframes progress-angular{0%{width: 0%;} 100%{ width: 65%;}}

@keyframes progress-html{0%{width: 0%;} 100%{ width: 100%;}}
@keyframes progress-css{0%{width: 0%;} 100%{ width: 90%;}}
@keyframes progress-javascript{0%{width: 0%;} 100%{ width: 70%;}}
@keyframes progress-php{0%{width: 0%;} 100%{ width: 55%;}}
@keyframes progress-angular{0%{width: 0%;} 100%{ width: 65%;}}

/* progressbar end here */


/* Teammate start here */

.first{
  position: relative;
}
.bottom-left-team {
  position: absolute;
  bottom: 10px;
  left: -10px;
}

.bottom-right-team {
  position: absolute;
  bottom: -10px;
  right: 15px;
}

/* Teammate end here */

/* Software start here */
#software{
  strong:hover{
    color: #3292a6;
  }
}
.pharmacy{
  position: relative;
}
.bottom-right-pharmacy {
  position: absolute;
  bottom: 190px;
  right: 0px;
}
/* Software end here */

/* product details start here */

.details{
  img {
  max-width: 100%;
  height: auto;
}

.wrap {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.zoom-box {
  position: relative;
}

#zoom-target {
  display: block;
  text-align: center;
  width: 100%;
  max-width: 200px;
}

.zoom-controls__wrap {
  padding: .25rem;
  background: rgba(black, .60);
}

.zoom-controls {
  text-align: center;
}

.zoom-controls__link {
  text-decoration: none;
  color: white;
}

.zoom-controls__icon {
  display: inline-block;
  width: 44px;
  height: 44px;
}

.zoom-item {
  transition: all .375s ease-in-out;

  &:target {
    box-shadow: 6px 6px 4px rgba(0,0,0,0.25);
    transform: scale(2);

    ~ .zoom-controls__wrap {
      .zoom-out { opacity: 1; }
    }
  }
}

.zoom-out {
  position: absolute;
  bottom: 110%;
  left: 120%;
  opacity: 0;
  transition: 400ms opacity ease-in-out;
}

.outer-circle {
  fill: #C6DCF3;
}

.inner-shape {
  fill: white;
}
}
/* product details end here */
